<div class="home_banner_inner">
    <div class="container_fluid">
        <div class="banner_img">
            {% if section.settings.desktop_image != blank %}
                <div class="desktop_img">
                  <img src="{{ section.settings.desktop_image | img_url: 'large' }}" width="1440" height="780" alt="{{ section.settings.desktop_image }}">
                </div>
              {% else %}
              <img class="desktop_img" src="https://cdn.shopify.com/s/files/1/0703/6718/3064/files/Group_1000007949_1.jpg?v=1720201963" width="1440" height="780">
              {% endif %}              
        {% if section.settings.mobile_image != blank %}
        <div class="mobile_img">
            <img src="{{ section.settings.mobile_image | img_url: 'large' }}" width="686" height="264" alt="{{ section.settings.mobile_image }}">
            </div>
            {% else %}
            <img class="mobile_img" src="https://cdn.shopify.com/s/files/1/0703/6718/3064/files/Frame.jpg?v=1720203342" width="686" height="264">
        {% endif %}
        </div>
        <div class="banner-content">
            <div class="banner-info">
                {% if section.settings.title != blank %}
                <div class="sec_title">
                <h1>{{ section.settings.title }}</h1>
                </div>
            {% endif %}
            {%  if section.settings.description != blank %}
                <div class="description">
                <p>{{ section.settings.description }}</p>
                </div>
            {% endif %}
            {% if section.settings.mobile_description != blank %}
            <div class="mobile_description">
            <p>{{ section.settings.mobile_description }}</p>
            </div>
        {% endif %}
            </div>
        {% if section.settings.button_text != blank %}
            <div class="banner-btn">
            <a class="btn black-btn" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}</a>
            </div>
        {%  endif %}
        </div>
    </div>
</div>
<div class="banner-announcement-bar">
    <div class="desktop-announce">
        <p>{{ section.settings.banner_announce }}</p>
    </div>
    <div class="mobile-announce">
        <p>{{ section.settings.mobile_announce }}</p>
    </div>
</div>

{% schema %}
{
  "name": "Hero Banner New",
  "tag": "section",
  "class": "hero_banner",
  "settings": [
    {
      "type": "image_picker",
      "label": "Desktop Image",
      "id": "desktop_image"
    },
    {
      "type": "image_picker",
      "label": "Mobile Image",
      "id": "mobile_image"
    },
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default": "Title"
    },
    {
      "type": "text",
      "label": "Desktop Description",
      "id": "description",
      "default": "Description"
    },
    {
        "type": "text",
        "label": "Mobile Description",
        "id": "mobile_description",
        "default": "Description"
      },
    {
      "type": "url",
      "label": "Button URL",
      "id": "button_url"
    },
    {
      "type": "text",
      "label": "Button Text",
      "id": "button_text"
    },
    {
        "type": "text",
        "label": "Desktop Banner Announcement",
        "id": "banner_announce",
        "default": "Description"
      },
      {
        "type": "text",
        "label": "Mobile banner Announcement",
        "id": "mobile_announce",
        "default": "Description"
      },
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Hero Banner New"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}