<div id="header-inner" class="header-inner">
  <div class="container-fluid">
    <div class="header-info">
      <div id="hamburger" class="hamburger-menu">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
      </div>
      <div class="logo">
    <a href="/"><img src="{{ section.settings.logo | img_url:'large' }}" width="auto" height="auto" alt="{{ section.settings.logo }}"></a>
    </div>
      <div class="header-text">
      <p>{{ section.settings.text }}</p>
      </div>
      <div class="header-btn">
        <a class="btn yellow-btn" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}
        <svg width="28" height="13" viewBox="0 0 28 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.11108 5.74402L0.361084 5.74402L0.361084 7.24402L1.11108 7.24402L1.11108 5.74402ZM27.1487 7.02435C27.4416 6.73146 27.4416 6.25658 27.1487 5.96369L22.3757 1.19072C22.0828 0.897826 21.6079 0.897826 21.315 1.19072C21.0221 1.48361 21.0221 1.95849 21.315 2.25138L25.5577 6.49402L21.315 10.7367C21.0221 11.0296 21.0221 11.5044 21.315 11.7973C21.6079 12.0902 22.0828 12.0902 22.3757 11.7973L27.1487 7.02435ZM1.11108 7.24402L26.6183 7.24402L26.6183 5.74402L1.11108 5.74402L1.11108 7.24402Z" fill="white"/>
          </svg>
      </a>
      </div>
    </div>
  </div>
  <div id="mobile-menu" class="mobile-menu">
    <div class="header-text">
      <p>{{ section.settings.text }}</p>
      </div>
      <div class="header-btn">
        <a class="btn yellow-btn" href="{{ section.settings.button_url }}">{{ section.settings.button_text }}
        <svg width="28" height="13" viewBox="0 0 28 13" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.11108 5.74402L0.361084 5.74402L0.361084 7.24402L1.11108 7.24402L1.11108 5.74402ZM27.1487 7.02435C27.4416 6.73146 27.4416 6.25658 27.1487 5.96369L22.3757 1.19072C22.0828 0.897826 21.6079 0.897826 21.315 1.19072C21.0221 1.48361 21.0221 1.95849 21.315 2.25138L25.5577 6.49402L21.315 10.7367C21.0221 11.0296 21.0221 11.5044 21.315 11.7973C21.6079 12.0902 22.0828 12.0902 22.3757 11.7973L27.1487 7.02435ZM1.11108 7.24402L26.6183 7.24402L26.6183 5.74402L1.11108 5.74402L1.11108 7.24402Z" fill="white"/>
          </svg>
      </a>
      </div>
  </div>
</div>

{% schema %}
{
  "name": "Header New",
  "tag": "section",
  "class": "header-wrapper",
  "settings": [
    {
      "type": "image_picker",
      "label": "Logo",
      "id": "logo"
    },
    {
      "type": "text",
      "label": "Text",
      "id": "text"
    },
    {
      "type": "url",
      "label": "Button URL",
      "id": "button_url"
    },
    {
      "type": "text",
      "label": "Button Text",
      "id": "button_text"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Header New"
    }
  ]
}
{% endschema %}
